@import '../../node_modules/bootstrap/scss/bootstrap';

.jumbotron,
.set,
.add {
	padding-left: 15px;
}

.herolist__container {
	margin: 10px;
}

.hero__container {
}

.hero__item {
	margin-bottom: 40px;
}

.card-img-top {
	height: 300px;
}